@charset "UTF-8";

/******************** jello ***********************/

.container {
	width: 900px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	
.inner_container {
	width: 900px;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

/******************** window **********************/
.window_above {
	width: 900px;
	height: 90%;
	position: absolute;
	overflow: hidden;
}

/******************** content *********************/
.content {
	padding: 0px;
	margin: 0px;
	position: absolute;
	background-color: gray;
}

#philosophy {

}

#featured_themes {

}

#theory_spreading {

}

#time_period {
	
}

/******************** general *********************/

body {
	background-color: #b4956c;
	font: 12px/18px helvetica, verdana, sans-serif;
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: LittleDays;
  src: url(Little days.ttf);
}

header {
	width: 100%;
	font: 35px "LittleDays";
}

#here {
	color: #be5c1b;
}

h2 {
	font: 25px "LittleDays";
}

img {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	display: inline;
	padding:0px 40px 0px 10px;
}

ul {
	padding: 0px;
	margin: 3% 0% -10px 0%;
}

/******************** links *********************/

a:link {
	text-decoration: none; 
	color: #3a3322;
	}
	
a:visited {
	text-decoration: none; 
	color: #52492d;
	}

a:hover {
	text-decoration: none;
	color: #3a3322;
	}
	
a:active {
	text-decoration: none; 
	color: #3a3322;
	}
