@charset "UTF-8";

/******************** jello ***********************/

.container {
	width: 900px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	
.inner_container {
	width: 900px;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

/******************** menus ***********************/

header {
	position: absolute;
	z-index: 15;
	top: 5%;
	width: 100%;
	font: 35px "LittleDays";
}

#text_rotate {
	position: absolute;
	z-index: 10;
	top: 20px;
	transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

#another_text_rotate {
	position: absolute;;
	z-index: 10;
	top: 40px
	transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}

#last_text_rotate {
	position: absolute;;
	z-index: 10;
	top: 15px
	transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
}

/******************** art/light box *********************/

.art_box {
	padding: 0px;
	overflow: auto;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0, 0.7);
	padding-top: 100px;
	padding-left: 150px;
}

.close-btn {
	position: fixed;
	top: 68px;
	color: #fff;
	font-size: 18px;
}
.close-btn a:link {
	color: white;
}

.lightbox img {
	height: 80%;
}

.lightbox h2 {
	color: white;
}

li span {
	position: relative;
	left: -220px;
	font-size: 12px;
}

/******************** content *********************/

a.active:link {
	color: #be5c1b;
}

a.active:visited {
	color: #be5c1b;
}

a.active:hover {
	color: #be5c1b;
}

a.active:active {
	color: #be5c1b;
}

.content {
	background: rgba(215, 215, 215, 0.5);
	padding: 0px 30px 0px 30px;
	margin: 0px;
	position: absolute;
	height: 91%;
	width: 100%;
	top: 15%;
	z-index: 5;
	overflow: hidden;
}

.info_box {
	display: none;
	color: #222222;
	padding: 5px;
	overflow: auto;
}

.position_one {
	position: absolute;
	left: 50%;
	right: 10%;
	top: 20%;
	bottom: 10%;
}

.position_two {
	position: absolute;
	left: 10%;
	right: 50%;
	top: 30%;
	bottom: 10%;
}

.position_three {
	position: absolute;
	left: 5%;
	right: 50%;
	top: 25%;
	bottom: 10%;
}

.position_four {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 10%;
	bottom: 10%;
}

/******************** general *********************/

body {
	background-color: #b4956c;
	font: 12px/18px "CenturyGothic", helvetica, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: LittleDays;
 	src: url("fonts/little_days.eot");
 	src: local('LittleDays'), url('fonts/little_days.svg') format('svg'), url('fonts/little_days.woff') format('woff'),  url('fonts/little_days.ttf') format('truetype');
  }

@font-face {
	font-family: CenturyGothic;
  src: url("fonts/century_gothic.ttf");
  src: local('CenturyGothic'), url('fonts/century_gothic.svg') format('svg'), url('fonts/century_gothic.woff') format('woff'),  url('fonts/century_gothic.ttf') format('truetype');
}

#footer {
	position: absolute;
	right: 7%;
	bottom: 7%;
	font: 40px "LittleDays";
	text-align: right;
}

h2 {
	font: 25px "LittleDays";
}

h3 {
	font: 20px "LittleDays";
}

li img {
	padding: 20px;
	margin: 0px;
	max-height: 200px;
}

li {
	list-style: none;
	display: inline;
	padding:0px;
}

header li {
	padding:0px 40px 0px 10px;
}

.small_menu li {
	padding:0px 40px 0px 10px;
}

ul {
	padding: 0px;
	margin: 3% 0% -10px 0%;
}

.window {
	width: 900px;
	height: 90%;
	position: absolute;
	overflow: hidden;
}

/******************** links *********************/

a:link {
	text-decoration: none; 
	color: #3a3322;
	}
	
a:visited {
	text-decoration: none; 
	color: #52492d;
	}

a:hover {
	text-decoration: none;
	color: #3a3322;
	}
	
a:active {
	text-decoration: none; 
	color: #3a3322;
	}

/******************* parallax *******************/

#background {
	opacity: .8;
	background: url("../images/rotatable_bkds/surrealist_10.jpg");
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	-webkit-transition: left 2500s linear 0;
	-moz-transition: left 2500s linear;
	-o-transition: left 2500s linear 0;
	transition: left 2500s linear 0;
}

#midground {
	background: url("../images/rotatable_bkds/surrealist_10.jpg");
	opacity: 0.5;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	-webkit-transition: left 2000s linear 0;
	-moz-transition: left 2000s linear;
	-o-transition: left 2000s linear 0;
	transition: left 2000s linear 0;
}

#foreground {
	opacity: 0.3;
	background: url("../images/rotatable_bkds/surrealist_10b.jpg");
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	-webkit-transition: left 1500s linear 0;
	-moz-transition: left 1500s linear;
	-o-transition: left 1500s linear 0;
	transition: left 1500s linear 0;
}

#experiment:target #background {
  left: -5000px;
}

#experiment:hover #background {
  left: -9999px;
}

#experiment:target #midground {
	left: -5000px;
}

#experiment:hover #midground {
	left: -9999px;
}

#experiment:hover #foreground {
  left: -9999px;
}

#experiment:target #foreground {
	left: -5000px;
}